# This file is managed by Ansible, all changes will be lost

# Ubuntu Security Repository
deb http://{{apt_mirror_ip_address}}/ubuntu trusty-security main restricted universe multiverse

# Ubuntu Package Repositories
deb http://{{apt_mirror_ip_address}}/ubuntu trusty main restricted universe multiverse
deb http://{{apt_mirror_ip_address}}/ubuntu trusty-updates main restricted universe multiverse
deb http://{{apt_mirror_ip_address}}/ubuntu trusty-backports main restricted universe multiverse
